@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  
  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-color: #242423;
  color: #eef0eb;
}

.form-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 40px auto;
  background-color: #4c5c68;
  padding: 50px 52px 50px 52px;
  border-radius: 5px;
}

header {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

label {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: inherit;
  line-height: 16px;
  margin-top: 10px;
}

input {
  display: block;
  margin: 10px 0px;
  padding: 10px 10px;
  color: #284b63;
  width: 80%;
  font-Family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: inherit;
  line-height: 16px;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

input::placeholder {
  color: #B0BEC5;
}

input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #153243;
}

#submit_btn {
  background-color: #b4b8ab;
  color: #284b63;
  border: none;
  border-radius: 6px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding: 9px 15px 9px 17px;
  width: 191px;
  margin: 35px 0px;
  cursor: pointer;
}

.line-break {
    border-bottom: 1px solid #2F3E53 ;
    margin-bottom: 35px;
}